.jumbotron {
	text-align: center;
}


form {
	padding:25px;
	border-radius:5px;
}

input {
	display:block;
	margin:10px;
	height:25px;
	font-size:1.25em;
	min-width:250px;
	padding:5px;
}

table {
	width:100%;
}

.table-striped td {
	padding:10px;
	margin:10px;
	border-bottom: solid 1px #999
}

.panel {
	width:60%;
	margin:auto
}

button {
	min-width:250px;
	margin:10px;
}
