<div class="well">
    <form class="calc-form" action="" method="POST">
    	<div class="form-group">

            {% for subfield in calc_form.opers %}
                {{ subfield.label }}
                <div class="radio">{{ subfield }}</div>
            {% endfor %}

            <div class="calc-inputs">
                {{ calc_form.input1 }}
                {{ calc_form.input2 }} 
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Calc</button>
        </div>
    </form>

    <h2>{{ result }}</h2>
</div>



