<!DOCTYPE html>
<html lang="en">
<head>
	<title>Word Counter - Team Cooing Beneficiary</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Our custom style rules -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <div class="container">
    	    <div class="jumbotron">
    	    	<h1>Word Counter</h1>
    	    </div>	
        </div>
    </header>
    <hr>

    <!-- Word Counter input form and output data in a table -->
    <div class="container word-counter">
        <div class="panel panel-default">

        	{% block content %}

                <!-- form  -->
        	    {% include "includes/form.html" %}

                <!-- Output data table -->
                <table class="table-striped">
        		    <tr><td>You entered {{ numchars }} characters.</td></tr>
        		    <tr><td>You entered {{ numwords }} words.</td></tr>
        	        <tr><td>The most common word is {{ mostcommon_word }}</td></tr>
        	        <tr><td>The most common character is {{ mostcommon_char }}</td></tr>
                </table>
        	{% endblock %}

        </div>
    </div>


    <!-- bootstrap and jquery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
