{% extends "base.html" %}

{% block content %}

<!-- Word Counter input form and output data in a table -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Word Counter</h3>
    </div>

    <div class="panel-body">

        <!-- form  -->
	    {% include "includes/form.html" %}

        <!-- Output data table -->
        <table class="table-striped">
		    <tr><td>You entered {{ numchars }} characters.</td></tr>
		    <tr><td>You entered {{ numwords }} words.</td></tr>
	        <tr><td>The most common word is {{ mostcommon_word }}</td></tr>
	        <tr><td>The most common character is {{ mostcommon_char }}</td></tr>
        </table>
    </div>
</div> <!-- end Panel content -->

{% endblock %}