<!DOCTYPE html>
<html lang="en">
<head>
	<title>Word Counter - Team Cooing Beneficiary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    	<h1>Word Counter</h1>
    </header>

    <div >
	{% block content %}
	    
	    {% include "includes/form.html" %}
	    {{word_form.user_input.data}}

	    <p>You entered {{ numchars }} of characters.</p>
	    <p>You entered {{ numwords }} of words.</p>
        <p>"put most frequent"</p>
	    
	{% endblock %}
	</div>


</body>

</html>